<% if post.comments.any? %>
	<p>Comments (<%= post.comments.count %>)</p>
	<ul class="comments">
		<% post.comments.each do |comment| %>
			<li>
				<div id="<%= "#{comment.class}#{comment.id}" %>">
					<span class="author">
						<%= comment.user.name %>:			
					</span>
					<span class="content">
						<%= comment.content %>
					</span>
					<%= render 'comments/new_comment_form', object: comment%>
					<span class="timestamp">
						Posted <%= time_ago_in_words(comment.created_at) %> ago.
					</span>
					<div id="<%= "#{comment.class}#{comment.id}" %>com">
						<%= render 'comments/comments', post: comment %>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
<% end %>
	