<% if post.comments.any? %>
	<h4>Comments (<%= post.comments.count %>)</h4>
	<ul class="comments">
		<% post.comments.each do |comment| %>
			<li>
				<span class="author">
					<%= comment.user.name %>:			
				</span>
			  <span class="content">
			  	<%= comment.content %>
			  </span>
			  <span class="timestamp">
			    Posted <%= time_ago_in_words(comment.created_at) %> ago.
			  </span>
			  <span class="timestamp">
			    <%= render 'comments/comments', post: comment %>
			  </span>
			</li>
		<% end %>
	</ul>
<% end %>
	