<% if post.comments.any? %>
  <p>Comments(<%= post.comments.count %>)</p>
  <ul class="comments">
    <% post.comments.each do |comment| %>
      <li>
        <div id="<%= "#{comment.class}#{comment.id}" %>">
          <span class="author">
            <%= comment.user.name %>:     
          </span>
          <span class="content">
            <%= comment.content %>
          </span>          
          <span class="timestamp">
            Posted <%= time_ago_in_words(comment.created_at) %> ago.
          </span>
          <% if current_user == comment.user %>
            <%= link_to "edit", edit_comment_path(comment), remote: true%>
          <% end %>
          <span class="buttons">               
            <%= render 'comments/new_button', object: comment %>
          </span> 
        </div>
          <span id="<%= "#{comment.class}#{comment.id}" %>com">
            <%= render 'comments/comments', post: comment %>
          </span>
        
      </li>
    <% end %>
  </ul>
<% end %>
  