<% if user_signed_in? %>
	<span>			  	
		<%= form_tag(comments_path, method: :post) do %>
			<%= text_area_tag :content %> <br>
			<%= hidden_field_tag :commentable_type, object.class %>
			<%= hidden_field_tag :commentable_id, object.id %>
			<%= hidden_field_tag :user_id, current_user.id %>
			<%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
		<% end %>
	</span>
<% end %>