<ul class="posts">
	<% @posts.each do |post| %>
		<li>
			<span class="author">
				<%= post.user.name %>:				
			</span>
			<span class="content">
				<%= post.content %>
			</span>
			<%= render 'comments/new_comment_form', object: post %>
			<span class="timestamp">
			  Posted <%= time_ago_in_words(post.created_at) %> ago.
			</span>
			<div class="span8">
				<%= render 'comments/comments', post: post %>
  			</div>
		</li>
	<% end %>
</ul>